/* DEFAULT */

* {
  font-family: 'Roboto', sans-serif;
}

.wrapper-90 {
  width: 90%;
  margin: 0 auto;
}

.wrapper-80 {
  width: 80%;
  margin: 0 auto;
}

.wrapper-50 {
  width: 50%;
  margin: 0 auto;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mb-20 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

ul.nds-li-inline li {
  display:inline;
  padding: 0 1px;
}

header{
  width: 100%;
  min-height: 50px;
  color: rgb(0, 96, 223);
  position: fixed;
  background-color: white;
  z-index: 999;
}

.container.nds-jumbotron {
  width: 100%;
  background-color: rgb(0, 96, 223);
}

.container.nds-jumbotron .row {
  margin-top: 50px;
}

.nds-box-jumbotron {
  height: 200px;
  min-width: 100px;
  background-color: white;
  border-radius: 10px;
}

.container.sponsor {
  width:100%;
  background-color: lightgray;
}

.nds-box-item {
  height: 100px;
  background-color: rgb(255, 255, 255);
}

.nds-informations {
  background-color: white;
}

.nds-li-border {
  border-left: 2px solid gray;
}

ul.nds-li-border {
  padding-left: 10px;
}

.nds-designed {
  width: 100%;
  background-color: lightgray;
}

.nds-table {
  background-color: blue;
  color: white;
}


.footer-top {
  background-color: blue;
  color: white;
}

.footer-bottom {
  background-color: rgb(43, 43, 145);
  color: white;
}

.nds-link-list ul {
  padding-left: 0;
}

.nds-city-box {
  border-bottom: 1px solid white;
}

