/* DEFAULT */

* {
  font-family: 'Roboto', sans-serif;
}

.wrapper-90 {
  width: 90%;
  margin: 0 auto;
}

.wrapper-80 {
  width: 80%;
  margin: 0 auto;
}

.wrapper-60 {
  width: 60%;
  margin: auto;
}

.wrapper-50 {
  width: 50%;
  margin: 0 auto;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-70 {
  margin-bottom: 70px;
}

ul {
  list-style: none;
}


/* TYPO */

h1 {
  font-size: 5em;
}


p {
  font-weight: 400;
}

button.btn {
  background-color: white;
  color: lightblue;
  border: 1px solid lightblue;
}

ul.nds-li-inline li {
  line-height: 50px;
  display:inline;
  padding: 0 10px;
}

.nds-navbar {
  width: 100%;
  min-height: 50px;
  color: #092152;
  position: fixed;
  background-color: white;
  z-index: 999;
}


.container.nds-jumbotron {
  width: 100%;
  color: white;
  background-image: url(../img/bg-banner-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.nds-box-jumbotron {
  min-width: 100px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 2px #0000004d;
}


.nds-box-jumbotron h3{
  font-size: 2.2em;
  color: #092152;
}

h3.nds-box-text {
  color: #4993ff;
} 

.nds-jumbotron p {
  font-size: 1.7em;
  color: rgba(255, 255, 255, 0.699);
}



.container.nds-sponsor {
  width: 100%;
  background-color: #f3f5f9;
}

.container.nds-sponsor ul {
  display: inline;
}


.nds-sponsor-title p {
  font-weight: 600;
  color: #717d99;
}



.nds-box-item img {
  width: 100%;
}

.nds-informations {
  background-color: white;
}

.nds-li-border {
  border-left: 2px solid gray;
}

ul.nds-li-border {
  padding-left: 10px;
}

ul.nds-li-border li {
  padding-bottom: 15px;
}

.nds-designed {
  width: 100%;
  background-color: lightgray;
}

.nds-table, .nds-footer-top {
  background-image: linear-gradient(#00229d, #0042bb);
  color: white;
}

.nds-footer-bottom {
  background-image: linear-gradient(#031c4e, #2b2b91);
  color: white;
}

.nds-link-list ul {
  padding-left: 0;
}

.nds-city-box {
  border-bottom: 1px solid white;
}

table tr td.nds-td {
  border-top: none;
}

img.nds-logo {
  
  height: 25px;
  margin-top: 12px;
}

h3 {
  font-size: 2.7em;
  font-weight: 700;
}

.nds-informations p {
  font-size: 1em;
}

.nds-box-item-two {
  background-color: white;
}

button.nds-btn-white {
  background-color: white;
  color: blue;
}