/* DEFAULT */

* {
  font-family: 'Roboto', sans-serif;
}

.wrapper-90 {
  width: 90%;
  margin: 0 auto;
}

.wrapper-80 {
  width: 80%;
  margin: 0 auto;
}

.wrapper-50 {
  width: 50%;
  margin: 0 auto;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-70 {
  margin-bottom: 70px;
}

ul {
  list-style: none;
}


/* TYPO */

h1 {
  font-size: 2em;
}



p {
  font-weight: 400;
}

ul.nds-li-inline li {
  line-height: 50px;
  display:inline;
  padding: 0 10px;
}

.nds-navbar {
  width: 100%;
  min-height: 50px;
  color: #092152;
  position: fixed;
  background-color: white;
  z-index: 999;
}


.container.nds-jumbotron {
  width: 100%;
  color: white;
  background-image: url(../img/bg-banner-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.nds-box-jumbotron {
  height: 200px;
  min-width: 100px;
  background-color: white;
  border-radius: 10px;
}

.nds-jumbotron p {
  color: rgba(255, 255, 255, 0.4);
}

.container.sponsor {
  width:100%;
  background-color: lightgray;
}

.container.sponsor li {
  display: inline;
}

.sponsor-title p {
  font-weight: 600;
  color: #717d99;
}


.nds-box-item img {
  height: 120px;
}

.nds-informations {
  background-color: white;
}

.nds-li-border {
  border-left: 2px solid gray;
}

ul.nds-li-border {
  padding-left: 10px;
}

ul.nds-li-border li {
  padding-bottom: 15px;
}

.nds-designed {
  width: 100%;
  background-color: lightgray;
}

.nds-table {
  background-color: blue;
  color: white;
}


.footer-top {
  background-color: blue;
  color: white;
}

.footer-bottom {
  background-color: rgb(43, 43, 145);
  color: white;
}

.nds-link-list ul {
  padding-left: 0;
}

.nds-city-box {
  border-bottom: 1px solid white;
}

table tr td.nds-td {
  border-top: none;
}

img.nds-logo {
  height: 35px;
  margin-top: 5px;
}

h3 {
  font-weight: 700;
}

.nds-informations p {
  font-size: 1em;
}

.nds-box-item-two {
  padding: 20px 0;
  background-color: white;
  height: 300px;
  width: 200px;
}